#alertBox{
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    width: 350px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    text-align: center;
    margin: 20px, 0;
    display: none;
}

#alertBox ion-icon {
    font-size: 40px;
    color: #FF7A2F;
}

#alertBox h1{
    font-size: 20px;
    padding: 0 0 20px 0;
}

.close{
    font-size: 15px;
    color: white;
    padding: 7px 20px;
    cursor: pointer;
    background: rgb(40, 210, 213);
    display: inline-block;
    border-radius: 5px;
}

.close:hover {
    background: rgb(40, 200, 200);
}