.login-page {
    width: 400px;
    padding: 5% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(85, 85, 85, 0.8);
    max-width: 400px;
    margin: 0 auto 20%;
    padding: 10%;
    text-align: center;
    border-radius: 10px;
}

.form input {
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
}

.form button {
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    text-transform: uppercase;
    outline: 0;
    background-color: rgb(40, 210, 213);
    width: 100%;
    border: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.form button:hover, .form button:active{
    background: rgb(40, 200, 200);
}

.form .message {
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    margin: 15px;
    color: white;
    font-size: 14px;
}

.form .message a {
    color: rgb(150, 250, 250);
    text-decoration: none;
}

.form .register-form {
    display: none;
}
