body ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

body ul :hover{
    background-color: #C6CFC7;
}

body li{
    display: inline;
    padding: 8px;
    background-color: #A7B3AF; 
}


#diagram form {
    display: block;
    padding: 10px;
}

#diagram label{
    padding-left: 20px;
}

#diagram #instructions{
    float: left;
}

.col-sm-6 {
    padding: 5px;
}

.col-sm-6 .float-child {
    width: 50%;
    float: left;
    padding: 1%;
}

.col-sm-6 .mainView {
    width: 100%;
    float: left;
    padding: 1%;
}

.operation{
    padding-bottom: 8px;
}

.operation .operation_instruction {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.col-sm-6 #mySidepanel {
    height: 30%;
    float: left;
}

.col-sm-6 p {
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 7px;
}

.col-sm-6 .rcorners {
    border-radius: 5px 15px;
    background: rgb(50, 50, 50);
    width: 120px;
    height: 35px; 
}

svg {
    padding: 10px 0px 0px 10px;
}

.row {
    float: left;
    width: 100%;
}

.short-tree {
    height: 250px;
    font-size: 120%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 3px;
    background: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#tree {
    float: right;
    width: auto;
    height: auto;
    margin-top: 10px;
}




/* Tree nodes */
text {
    font-size: 15px;
    text-anchor: middle;
    /* fill: #4f442b; */
    fill: black;
    stroke: black;
    stroke-width: 0.5px;
}

g > text.active {
    font-size: 30px;
}

.rectangle {
    fill: #75739F;
    stroke: black;
    stroke-width: 1px;
}

.rectangle.active {
    fill: #FE9922;
}

.rectangle.inactive {
    fill: #C4B9AC;
}

.active{
    stroke: black;
    stroke-width: 1px;
    opacity: 0.8;
}

.ghostRectangle {
    stroke: red;
    stroke-width: 10;
    opacity: 0.2;
}

.ghostRectangle.show{
    display: block;
}

.ghostRectangle, .activeDrag .ghostRectangle{
    display: none;
}



/* Slider Bar */
/* #slider {
    border: 1px solid #ccc;
} */
#slider_level{
    float: left;
}

/* #mainsvg {
    margin-top: 10px;
} */

.navbar {
    padding-left: 1%;
    padding-top: 1%;
}

#slider_explo_div p{
    float: left;
    width: 30%;
}

.axis text {
    font: 10px sans-serif;
}


.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidepanel p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size:15px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.openbtn {
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
  
.openbtn:hover {
    background-color:#555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button{
    border: none;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120%;
    z-index: 1;
}
  
.dropdown-content .menu_option, .dropdown-content .memo{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .menu_option:hover {background-color: #ccc}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .openbtn {
    background-color: #2980B9;
}


.dropdown-submenu{
    position: relative;
}

.dropdown-subcontent{
    display: none;
    background-color: rgb(250, 250, 250);
}

.dropdown-subcontent .menu_option{
    background-color: rgb(250, 250, 250);
}

.dropdown-submenu:hover .dropdown-subcontent{
    display: block;
}

.dropdown-submenu .dropdown-subcontent {
    left: 100%;
}


/* the fader will grey out the whole screen
   when displayed */
#fader {
    opacity: 0.3;
    background: black;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

/* progress animation */
.loader::before,
.loader::after {
    content: "";
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    border-radius: 4em;
}

.loader::before {
    background: lightcoral;
    left: 50%;
    /* transform: translateX(10px); */
    animation: MoveLeft 1s ease infinite;
}
.loader::after {
    background: lightgreen;
    right: 50%;
    /* transform: translateX(-10px); */
    animation: MoveRight 1s ease infinite;
}

@keyframes MoveRight {
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
        background: rgba(144, 238, 144, 0.7);
    }
    100%{
        transform: translateX(-10px);
    }
}

@keyframes MoveLeft {
    0%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(-10px);
        background: rgba(240, 128, 128, 0.7);
    }
    100%{
        transform: translateX(10px);
    }
}

#lassoSelect {
    background-image: url("../figures/select.svg");
    background-size: 37px 37px;
    width: 40px;
    height: 40px;
}

#lassoSelectAdd {
    background-image: url("../figures/selectAdd.svg");
    background-size: 37px 37px;
    width: 40px;
    height: 40px;
}

#lassoSelectSubtract {
    background-image: url("../figures/selectSubtract.svg");
    background-size: 37px 37px;
    width: 40px;
    height: 40px;
}

#clickSelectAdd {
    background-image: url("../figures/clickAdd.svg");
    background-size: 37px 37px;
    width: 40px;
    height: 40px;
}

#clickSelectSubtract {
    background-image: url("../figures/clickSubtract.svg");
    background-size: 37px 37px;
    width: 40px;
    height: 40px;
}